{% extends "base.html" %}
{% block content %}

<!-----SEARCH FUNCTION------>

<form class="col s12" method="POST" action="{{ url_for('search') }}">
  <div class="search-container>">
    <div class="input-group mb-6">
      <input type="text" name="query" id="query" class="form-control form-control-lg" placeholder="Search Reviews"
        required>
      <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
      <a href="{{ url_for('get_reviews') }}">
        <button type="button" class="btn btn-danger">Reset</button>
      </a>
    </div>
  </div>
</form>





<div class="card-container">
  <div class="row">
    {% for review in reviews %}

    <div class="col col-lg-3 col-md-4 col-sm-12">
      <div class="card">
        <img src="{{ review.img_url }}" class="card-img-top" alt="game picture">
        <div class="card-body">
          <h5 class="card-title"><i>"{{ review.review_title }}"</i></h5>
          <p class="card-text">{{ review.game_name }}</p>
      

        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ review.console_name }}</li>
          <div class="card-review-details">
            <li class="list-group-item" style="flex-wrap: wrap;">{{ review.review_input }}</li>
          </div>
          <p class="cont" style="color: red;"><a href="{{ url_for('open_review', review_id=review._id) }}"></a>Continue reading....</p>
          <li class="list-group-item">{{ review.rating }}</li>
          <li class="list-group-item">
            <b>Created by:</b>&nbsp{{ review.created_by }}
          </li>
        </ul>
      </div>
        <div class="card-body">
          <a href="{{ url_for('open_review', review_id=review._id) }}" class="btn btn-outline-primary" style="padding: 10px;">
            <button type="button">Read Review</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}