{% extends "base.html" %}
{% block content %}



<!-------THIS IS THE MAIN REVIEW CONTENT----->
<div class="container-md" style="border: 2px solid grey;">
  <div class="col-12" style="color: whitesmoke;">
    <h3 class="card-title">{{ review.review_title }}</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ review.img_url }}" class="card-img-top" alt="game picture" width="auto" height="80%">
      </div>

      <div class="col-lg-6" style="color: white;" height: 500px;>
        <h2 class="card-text" style="border: 0.1px solid grey;">{{ review.game_name }}</h2>
        <div class="col-md-12">
          <p class="review-info">
            {{ review.review_input }}
          </p>
        </div>
        <div class="col-lg-4">
          <h5 class="list-group-item">{{ review.console_name }}</h5>
        </div>
      </div>
      <p class="row" style="color: white;">Created by:<br>{{ review.created_by }}</p>
   
 

    <div class="row justify-content-center">
     <div class="col-6">
        <a href="{{ url_for('edit_review', reviews_id=reviews._id) }}" button type="button" class="btn btn-success">Edit</button></a>
      </div>
   
     
     <div class="col-6">
      <button type="button" class="btn btn-danger">Delete</button>
     </div>
     <br>
     <br>
        
        
 

       
     


      
      {% endblock %}