{% extends "base.html" %}
{% block content %}


<!-------THIS IS THE MAIN REVIEW CONTENT----->
<div class="container-md" style="border: 2px solid grey;">
  <div class="col-12" style="color: whitesmoke;">
    <h3 class="card-title">{{ review.review_title }}</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="{{ review.img_url }}" class="card-img-top" alt="game picture" width="40%" height="auto">
      </div>

      <!--------- Game Title------------------------>
      <div class="col-lg-6" style="color: white;" ;>
        <h2 class="card-text">{{ review.game_name }}</h2>

        <!-------- Review Content Text Area----------->
        <div class="col-md-12">
          <p class="review-info">
            {{ review.review_input }}
          </p>
        </div>
        <!---------Console Name----------------------->
        <div class="col-lg-4">
          <h5 class="list-group-item">{{ review.console_name }}</h5>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-3" style="color: white;">
          <p class="row" style="color: white;">Created by:{{ review.created_by }}</p>
          <div class="col-4 col-lg-2"></div>
          <div class="col-4 col-lg-2"></div>
          {% if session.user|lower == review.created_by|lower %}
          <div class="col-4 col-lg-2" style="text-align: center;"><a
              href="{{ url_for('edit_review', review_id=review._id) }}" button type="button"
              class="btn btn-success">-Edit-</button></a>
          </div>
          <div class="col-4 col-lg-2" style="text-align: center; padding-bottom: 100px;"><a href="{{ url_for('delete_review', review_id=review._id) }}" button type="button"
              class="btn btn-danger" onclick="confirmation()">Delete</button></a>
              <a href="{{ url_for('delete_review', review_id=review._id) }}"><button onclick="confirmation()">Delete</button></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}