{% extends "base.html" %}
{% block content %}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      
      <form method="POST" action="{{ url_for('register') }}">
          <h1 class="center-align">Register</h1>
          
            <!-----Username input -->
            <div class="form-outline mb-4">
              <input type="username" id="username" name="username" class="form-control">
              <label for="username">Username</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" name="password" class="form-control" />
              <label for="password">Password</label>
            </div>
          
          
            <!-- Submit button -->
            <div class="submit-register">
              <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            </div>
            
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>or sign up with:</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
          
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>
          </div>
  



{% endblock %}