{% extends "base.html" %}
{% block content %}


<div class="register-container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <form method="POST" action="{{ url_for('register') }}">
        <h1 class="center-align">Register</h1>

        <!-----Username input -->
        <div class="form-outline mb-4">
          <input type="username" id="username" name="username" minlength="5" maxlength="15"
            pattern="^[a-zA-ZO-9]{5,15}$" class="form-control" required>
          <label for="username">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" name="password" minlength="5" maxlength="15"
            pattern="^[a-zA-ZO-9]{5,15}$" class="form-control" required>
          <label for="password">Password</label>
        </div>


        <!-- Submit button -->
        <div class="submit-register">
          <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
        </div>

        <!-- Log In now link -->
        <div class="text-center">
          <a href="{{ url_for('login') }}">Log In</a>
        </div>
      </form>
    </div>
  </div>




  {% endblock %}