{% extends "base.html" %}
{% block content %}


<!-----Review Card Template------>

<div class="card-container">
  <div class="row">
    {% for review in reviews %}
    {% if review.created_by == session.user %}
    <div class="col col-lg-2 col-md-3 col-sm-6">
      <div class="card">
        <img src="{{ review.img_url }}" class="card-img-top" alt="game picture" onerror="this.src='/static/images/default_logo.jpg'">
        <h6 class="card-title"><i>"{{ review.review_title }}"</i></h6>
        <div class="card-details">
          {{ review.review_input }}
        </div>
        <div class="card-body">
          <p class="card-text" style="height: 10px;"><a href="{{ url_for('open_review', review_id=review._id) }}"
              class="btn btn-primary">Read Review..</a>
          </p>
        </div>
      </div>
    </div>


    {% endif %}
    {% endfor %}

{% endblock %}